@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
* {
  font-family: 'Inter', sans-serif !important;
}

body {
  background-color: #FFFFFF;
}

body .cl-green {
  color: #05BB2D;
}

body .cl-black {
  color: black !important;
}

body .cl-orange {
  color: #FF9900;
}

body .cl-blue {
  color: #0F52BA;
}

body nav .navbar-brand h5 {
  font-weight: 700 !important;
  size: 28px;
  line-height: 150%;
}

body nav .navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 600;
  color: #739AD4 !important;
  margin: 0 30px;
}

body nav .navbar-nav .active {
  color: #080E09 !important;
  width: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body nav .navbar-nav .active a {
  width: 12px;
}

body nav .navbar-nav .border-bottom {
  border-bottom: 2px solid #0F52BA !important;
}

@media screen and (min-width: 993px) {
  body nav .navbar-nav {
    margin-left: 500px;
  }
}

@media screen and (min-width: 900px) {
  body .pl-124 {
    margin: 0 !important;
    padding-left: 124px;
  }
}

@media screen and (max-width: 900px) {
  body .pl-124 {
    margin: 0 5px 0 5px !important;
  }
}

body #header {
  margin-top: 138px;
  margin-bottom: 100px;
  width: 100% !important;
}

body .img-header {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
}

body .explore {
  background-color: #080E09;
  padding-top: 100px;
  padding-bottom: 50px;
}

body .pt-35 {
  padding-top: 35px;
}

body .title h1 {
  font-size: 72px;
  font-weight: 700;
}

body .stat {
  margin-top: 48px;
}

body .stat h2 {
  font-size: 48px;
  font-weight: 800;
}

body .stat p {
  font-size: 16px;
  color: #ADB2B8;
  font-weight: 400;
  line-height: 28px;
}

body .btn-blue {
  background-color: #0F52BA;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border-radius: 12px;
  margin-top: 48px;
}

@media screen and (min-width: 600px) {
  body .image-content .img-fluid {
    height: 144.953px;
  }
}

body .text-content h1 {
  font-size: 60px !important;
  line-height: 150%;
  color: white;
}

body .text-content p {
  font-size: 16px;
  color: #ADB2B8;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 108px;
}

body .place {
  border-radius: 28px;
  background-color: #ffffff !important;
}

body .place h5 {
  margin-top: 17px;
  font-size: 24px;
  font-weight: 700;
}

body .place p {
  font-size: 16x;
  font-weight: 400;
  color: #ADB2B8;
}

body .scrolling-wrapper {
  overflow-x: auto;
}

body .section::-webkit-scrollbar {
  height: 0 !important;
}

body .section::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

body .section::-webkit-scrollbar-thumb {
  background-color: #05BB2D;
  border-radius: 100px;
}

body .mr-6 {
  margin-right: 64px;
}

body .img-explore {
  height: 600px;
  padding: 0;
}

body .img-explore img {
  width: 452px !important;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 24px;
  margin-right: 72px;
}
/*# sourceMappingURL=main.css.map */