@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
* {
  font-family: 'Inter', sans-serif !important;
}

body {
  background-color: #FFFFFF;
}

body .cl-green {
  color: #05BB2D;
}

body .cl-black {
  color: black !important;
}

body .cl-orange {
  color: #FF9900;
}

body .cl-blue {
  color: #0F52BA !important;
}

body .cl-dusty-grey {
  color: #9C9C9C;
}

body .rounded-24 {
  border-radius: 24px;
}

body .font-weight-semi-bold {
  font-weight: 600 !important;
}

@media screen and (min-width: 900px) {
  body nav .container {
    margin-left: 45px !important;
  }
}

body nav .navbar-brand h5 {
  font-weight: 700 !important;
  size: 28px;
  line-height: 150%;
}

body nav .navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 600;
  color: #739AD4 !important;
  margin: 0 30px;
}

body nav .navbar-nav .active {
  color: #080E09 !important;
  width: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body nav .navbar-nav .active a {
  width: 12px;
}

body nav .navbar-nav .border-bottom {
  border-bottom: 2px solid #0F52BA !important;
}

@media screen and (min-width: 993px) {
  body nav .navbar-nav {
    margin-left: 560px;
  }
}

@media screen and (min-width: 900px) {
  body .pl-house {
    margin: 0 !important;
    padding-left: 61px;
  }
}

@media screen and (max-width: 900px) {
  body .pl-house {
    margin: 0 5px 0 5px !important;
  }
}

body #header {
  margin-top: 138px;
  margin-bottom: 100px;
  width: 100% !important;
}

@media screen and (max-width: 768px) {
  body #header {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

body .img-header {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
}

body .explore {
  background-color: #080E09;
  padding-top: 100px;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  body .explore {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

body .explore .descript-explore {
  max-width: 75%;
}

body .pt-35 {
  padding-top: 35px;
}

body .title h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 150%;
}

@media screen and (max-width: 768px) {
  body .title h1 {
    font-size: 48px;
  }
}

body .stat {
  margin-top: 48px;
}

body .stat h2 {
  font-size: 48px;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  body .stat h2 {
    font-size: 28px;
  }
}

body .stat p {
  font-size: 16px;
  color: #ADB2B8;
  font-weight: 400;
  line-height: 28px;
}

body .stat .descript-head {
  max-width: 90%;
}

body .btn-blue {
  background-color: #0F52BA;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border-radius: 12px;
  margin-top: 48px;
}

body .gallery {
  padding: 10px 0;
}

@media only screen and (max-width: 768px) {
  body .gallery {
    margin: 50px 0;
  }
}

body .gallery .card-hotel-carousel {
  width: 325px;
  margin-right: 64px;
  padding: 28px 28px 40px;
  border-radius: 28px;
  background: white;
  -webkit-box-shadow: 20px 8px 18px rgba(178, 177, 255, 0.05);
          box-shadow: 20px 8px 18px rgba(178, 177, 255, 0.05);
}

@media only screen and (max-width: 768px) {
  body .gallery .card-hotel-carousel {
    margin-right: 20px;
  }
}

body .gallery .card-hotel-carousel .image-placeholder {
  width: 268px;
  height: 190px;
}

body .gallery .card-hotel-carousel .image-placeholder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}

body .gallery .card-hotel-carousel .card-details {
  padding-bottom: 53px;
  height: 150px;
}

body .gallery .card-hotel-carousel .card-details .caption {
  font-weight: 700;
  font-size: 24px;
  color: #080E09;
  margin-top: 24px;
}

body .gallery .card-hotel-carousel .card-details .sub-caption {
  font-weight: 400;
  color: #ADB2B8;
}

body .gallery .card-hotel-carousel .bottom-text .price-content {
  color: #080E09;
  font-size: 16px;
}

body .gallery .card-hotel-carousel .bottom-text .price-content span {
  font-weight: 400;
}

body .gallery .card-hotel-carousel .bottom-text .price-content span.price {
  font-weight: 700;
}

body .gallery .card-hotel-carousel .bottom-text .rating {
  font-weight: 700;
  font-size: 16px;
  color: #FF9900;
}

body .gallery .card-hotel-carousel .bottom-text .rating img {
  margin-top: -1px;
  margin-right: 5px;
}

@media screen and (min-width: 600px) {
  body .image-content .img-fluid {
    height: 144.953px;
  }
}

body .text-content h1 {
  font-size: 60px !important;
  line-height: 150%;
  color: white;
}

body .text-content p {
  font-size: 16px;
  color: #ADB2B8;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 108px;
}

body .place {
  border-radius: 28px;
  background-color: #ffffff !important;
}

body .place h5 {
  margin-top: 17px;
  font-size: 24px;
  font-weight: 700;
}

body .place p {
  font-size: 16x;
  font-weight: 400;
  color: #ADB2B8;
}

body .place .img-place-header {
  width: 100% !important;
}

body .scrolling-wrapper {
  overflow-x: auto;
}

body .section::-webkit-scrollbar {
  height: 0 !important;
}

body .section::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

body .section::-webkit-scrollbar-thumb {
  background-color: #05BB2D;
  border-radius: 100px;
}

body .mr-6 {
  margin-right: 64px;
}

body .img-explore {
  height: 600px;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  body .img-explore {
    height: 300px;
  }
}

body .img-explore img {
  width: 452px !important;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 24px;
  margin-right: 72px;
}

@media only screen and (max-width: 768px) {
  body .img-explore img {
    width: 226px !important;
  }
}

body .choose {
  background-color: #F9FCFC;
}

body .choose h1 {
  color: #232323;
  font-weight: 700 !important;
}

body .choose p {
  color: #879FB0;
}

@media screen and (min-width: 768px) {
  body .choose h1 {
    font-size: 60px !important;
  }
}

body .img-testimoni {
  z-index: -1 !important;
  right: 0 !important;
  position: absolute;
  margin-top: 92px;
  margin-right: 68px;
}

body .testimoni {
  padding-top: 50px;
  padding-bottom: 50px;
}

body .testimoni h1 {
  color: #232323;
  font-weight: 700 !important;
}

@media screen and (min-width: 768px) {
  body .testimoni {
    padding-bottom: 188px;
  }
  body .testimoni h1 {
    font-size: 60px !important;
  }
}

@media screen and (min-width: 768px) {
  body .testimoni .container {
    padding-top: 120px;
  }
  body .testimoni .container h1 {
    width: 722px;
    font-size: 60px;
    line-height: 90px !important;
  }
}

body .testimoni .container h1 {
  line-height: 50px;
  font-weight: 700 !important;
}

body .testimoni .container .testi-text {
  line-height: 28px;
  color: #9C9C9C;
}

@media screen and (min-width: 768px) {
  body .testimoni .container .testi-text {
    width: 500px;
  }
}

body .testimoni .container .card {
  border-radius: 28px;
  border: none !important;
  -webkit-box-shadow: 20px 8px 18px rgba(178, 177, 255, 0.05);
          box-shadow: 20px 8px 18px rgba(178, 177, 255, 0.05);
}

body .testimoni .container .card p {
  color: #9C9C9C;
}

body footer {
  background-color: #101419;
}

body footer p {
  font-size: 20px;
  color: #ADB2B8;
}

@media screen and (min-width: 768px) {
  body footer .container-fluid {
    padding-left: 80px;
  }
}

body footer li {
  margin-bottom: 12px;
}

body footer li a {
  color: #ADB2B8;
  font-size: 20px;
  font-weight: 400 !important;
}
/*# sourceMappingURL=main.css.map */